.addToCart {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  gap: 10px;
  margin-top: auto;
}

.addToCart > .input {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 20px;
  gap: 10px;
}
.addToCart > .input > input {
  max-width: 70%;
  text-align: center;
}
.addToCart > .input > button {
  display: flex;
  text-align: center;
  padding: 1px 12px;
  align-self: center;
  border-radius: 20px;
  font-size: 1.4rem;
}

button {
  background-color: blue;
  color: white;
  font-weight: 600;
}
